<link rel='stylesheet' href='/stylesheets/navbar.css' />

<div class="navbar">
    <div class="navbar-left">
        <h1 class="title">{{title}}</h1>
    </div>
    <div class="navbar-right">
        <h1 class="login"> Login </h1>
        <h1 class="create-account" style="margin-left: 30px;"> Create Account </h1>
    </div>
</div>


<div class="account-part">
    <form>
        <div class="container-accounts">
            <h1 class="login"> Login </h1>   
            <div>
                <br>
                <input type="text" placeholder="Enter username" name="username" required>
            </div>
            <div>
                <br>
                <input type="password" placeholder="Enter password" name="password" required>
            </div>
            <button>Login</button>
        </div>
    </form>
    <form>
        <div class="container-accounts">
            <h1 class="create-account" style="margin-left: 30px;"> Create Account </h1>
            <div>
                <br>
                <input type="text" placeholder="Enter username" name="username" required>
            </div>
            <div>
                <br>
                <input type="password" placeholder="Enter password" name="password" required>
            </div>
            <div>
                <br>
                <input type="password" placeholder="Confirm password" name="confirm-password" required>
            </div>
            <button>Create Account</button>
        </div>
    </form>
</div>