<link rel='stylesheet' href='/stylesheets/navbar.css' />


<div class="navbar">
    <div class="navbar-left">
        <h1 class="title">{{title}}</h1>
    </div>
</div>

<div class="account-part">
    <form action="/login" method="POST">
        <div class="container-accounts">
            <div class="front-face">
                <h1>
                    Login
                </h1>
            </div>
            <div class="back-face">
                <h1 class="login"> Login </h1>   
                <div>
                    <br>
                    <input type="text" placeholder="Enter username" name="username" required>
                </div>
                <div>
                    <br>
                    <input type="password" placeholder="Enter password" name="password" required>
                </div>
                <input id="login-button" type="submit" value="Login">
            </div>
        </div>
    </form>
    <form action="/create" method="POST">
        <div class="container-accounts">
            <div class="front-face">
                <h1>
                    Create Account
                </h1>
            </div>
            <div class="back-face">
                <h1 class="create-account" style="margin-left: 30px;"> Create Account </h1>
                <div>
                    <br>
                    <input type="text" placeholder="Enter username" name="username" required>
                </div>
                <div>
                    <br>
                    <input type="password" placeholder="Enter password" name="password" required>
                </div>
                <div>
                    <br>
                    <input type="password" placeholder="Confirm password" name="confirmPassword" required>
                </div>
                <input id="create-account-button" type="submit" value="Create Account">                
            </div>
        </div>
    </form>
</div>

