<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}} - Share Your Music</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <div class="footer">
    <p class="footer-text">
      muShare - Share Your Music
    </p>
  </div>
</html>
