<link rel='stylesheet' href='/stylesheets/navbar.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />



<div class="navbar">

    <div class="navbar-left">
        <h1 class="title">{{title}}</h1>
    </div>
    <div class="navbar-right">
        <button type="submit" id="toggleUploadModalButton" class="upload">Share</button>
        <div class="dropdown">
            <button class="logout">User</button>
            <div class="dropdown-content">
                <form action="/settings" method="GET">
                    <button class="logout">Settings</button>
                </form>
                <form action="/logout" method="post">
                    <button type="submit" name="logout" value="Logout" class="logout">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="settings-box">

    <h1>Settings</h1>

    <form action="/uploadProfilePic" method="POST" enctype="multipart/form-data">
        <p style="color: white">Choose profile picture</p>
        <input type="file" title="Select profile picture" accept="" name="pic" style="margin-bottom: 50px; width: 30%" class="upload">
        <button type="submit" class="upload">Upload</button>        
        <br>
    </form>
    <form action="/changeSettings" method="POST">
        <input type="password" placeholder="Password" name="password" style="margin-bottom: 50px">
        <br>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" style="margin-bottom: 50px">
        <br>
        <button type="submit" class="upload">Save</button>        
    </form>
    <br>
    <br>
    <a class="logout" href="/">Return to Home</a>

</div>
