
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
}

.navbar-right > form > .logout{
    background-color: transparent; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: .5s ease-in-out;
}
.navbar-right > form > .logout:hover{
    transition: .5s ease-in-out;
    opacity: 0.4;
}