:root {
    --main-color: #6698D8;
    --secondary-color: #DDE8F1;
    --dark-blue: #0071D4;
    --light-blue: #AECCE8;
  }

.navbar{
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
}

.logout{
    background-color: transparent; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: .5s ease-in-out;
}
.logout:hover{
    transition: .5s ease-in-out;
    opacity: 0.4;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content > form > .logout{
    width: 100%;
}
.dropdown-content > form > .logout:hover{
    background-color: #e0e0e0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.upload{
    width: 200px;
    background-color: var(--dark-blue); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: .5s ease-in-out;
}
.upload:hover{
    background-color: black;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 20px -15px black;
}