:root {
  --main-color: #6698D8;
  --secondary-color: #DDE8F1;
  --dark-blue: #0071D4;
  --light-blue: #AECCE8;
}

body {
  padding-top: 10px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.title{
  color: var(--dark-blue);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}
.footer-text{
  text-align: center;
  color: var(--secondary-color);
  font-size: 30px;
}


/* LOGIN / CREATE ACCOUNT FORMS */
.login{
  margin-top: 10%;
}

.account-part{
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
}
.container-accounts{
  width: 100vw;
  height: 80vh;
  transition: .5s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

input{
  transition: .5s ease-in-out;
  border-width: 0;
  height: 40px;
  width: 500px;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 3px solid white;
}
input:focus{
  border-bottom: 3px solid black;
}
.container-accounts input{
  transition: .5s ease-in-out;
  background-color: transparent;
  border-bottom: 3px solid var(--dark-blue);
}
.container-accounts input:focus{
  border-bottom: 3px solid black;
}

input[type=submit]{
  transition: .5s ease-in-out;
  border-width: 0;
  margin-top: 100px;
  width: 300px;
  height: 50px;
  background-color: white;
  font-size: 20px;
  display: none;
}
.container-accounts input[type=submit]{
  transition: .5s ease-in-out;
  background-color: var(--dark-blue);
  color: white;
  display: initial;
}
.container-accounts input[type=submit]:hover{
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 20px -11px black;
  background-color: black;
}

.warning-login{
  color: red;
  font-size: 10px;
}
#username-doesnt-exist{
  display: none;
}
#wrong-password{
  display: none;
}


/* ROTATION */
#register.container-accounts {
  display: none;
}

.front-face {
  transition: all .9s ease-in-out;
  width: 40vw;
  height: 100%;
  background-color: var(--dark-blue);  
  /* box-shadow: 0px 0px 20px -15px black; */
  animation-name: animateblue;
  animation-duration: 1s;
}
.front-face > h1{
  color: white;
  padding-top: 30%;
  text-align: center;
  margin: 0 auto;
  font-size: 70px;
}
.back-face {
  height: 100%;
  width: 60vw;
  background-color: white;
  animation-name: animatewhite;
  animation-duration: 1s;
}

/* MUSIC FEED */
.feed-title{
  padding-top: 100px;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  margin-left: 50px;
}

#shared-feed{
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 300px;
  position: absolute;
}

.music-box{
  width: 120%;
  height: 60px;
  background-color: white;
  border-radius: 2px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 18px -15px black;
}
.music-box:hover{
  width: 116%;
  margin-left: 20px;
  box-shadow: 0px 0px 20px -15px black;
}
.music-box > strong{
  font-size: 30px;
  color: black;
}
.music-box > p{
  opacity: 0.5;
}
.music-details{
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  color: black;
}
.music-details > .username{
  font-size: 20px;
  opacity: 0.3;
  text-align: left;
  width: 300px;
}

/* MODAL SHARE MUSIC */
.modal-header {
  padding: 0px 15px;
  background-color: var(--light-blue);
  color: white;
  font-size: 30px;
}

.close{
  color: var(--dark-blue);
  font-size: 60px;
}
.close:hover{
  color: red;
}

.modal-body {
  padding: 12px 30px;
}

.modal-content {
  width: 80%;
  height: 70vh;
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-body > .subtitle{
  font-size: 25px;
  color: var(--light-blue);
}

/* SETTINGS PAGE */
.settings-box{
  width: 80%;
  height: 70vh;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 0px 20px -15px black;
  text-align: center;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 

@keyframes animateblue {
  0%{
    width: 40vw;
  }
  10%{
    width: 100vw;
  }
  50%{
    width: 100vw;
  }
  100%{
    width: 40vw;
  }
} 
@keyframes animatewhite {
  0%{
    width: 60vw;
  }
  10%{
    width: 0vw;
  }
  50%{
    width: 0%;
  }
  100%{
    width: 60vw;
  }
} 