:root {
  --main-color: #6698D8;
  --secondary-color: #DDE8F1;
  --dark-blue: #0071D4;
  --light-blue: #AECCE8;
}

body {
  padding: 50px;
  padding-top: 10px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--secondary-color);
}

.title{
  color: var(--dark-blue);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}
.footer-text{
  text-align: center;
  color: var(--secondary-color);
  font-size: 30px;
}


/* LOGIN / CREATE ACCOUNT FORMS */
.account-part{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40px;
}
.container-accounts{
  width: 40vw;
  height: 600px;
  transition: .5s ease-in-out;
  text-align: center;
  display: inline-block;
  transform-style: preserve-3d;
  background-color: white;
  backface-visibility: hidden;
}
.container-accounts:hover{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 20px -15px black;
  transition: .8s ease-in-out;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

input{
  transition: .5s ease-in-out;
  border-width: 0;
  height: 40px;
  width: 500px;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 3px solid white;
}
input:focus{
  border-bottom: 3px solid black;
}
.container-accounts:hover input{
  transition: .5s ease-in-out;
  background-color: transparent;
  border-bottom: 3px solid var(--dark-blue);
}
.container-accounts:hover input:focus{
  border-bottom: 3px solid black;
}

input[type=submit]{
  transition: .5s ease-in-out;
  border-width: 0;
  margin-top: 100px;
  width: 300px;
  height: 50px;
  background-color: white;
  font-size: 20px;
  display: none;
}
.container-accounts:hover input[type=submit]{
  transition: .5s ease-in-out;
  background-color: var(--dark-blue);
  color: white;
  display: initial;
}
.container-accounts:hover input[type=submit]:hover{
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 20px -11px black;
  background-color: black;
}


/* ROTATION */

.front-face {
  transition: all .9s ease-in-out;
  z-index: 100;
  width: 40vw;
  height: 600px;
  background-color: var(--light-blue);  
  box-shadow: 0px 0px 20px -15px black;
  position: absolute;
}
.front-face > h1{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: 20% auto;
  font-size: 70px;
}
.back-face {
  transform: rotateY(180deg);
}

/* MUSIC FEED */
#shared-feed{
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 300px;
  position: absolute;
}

.music-box{
  width: 80%;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}
.music-box:hover{
  background-color: var(--main-color);
  box-shadow: 0px 0px 20px -15px black;
}
.music-box > strong{
  font-size: 30px;
}
.music-box > p{
  opacity: 0.5;
}

/* MODAL SHARE MUSIC */
.modal-header {
  padding: 0px 15px;
  background-color: var(--light-blue);
  color: white;
  font-size: 30px;
}

.close{
  color: var(--dark-blue);
  font-size: 60px;
}
.close:hover{
  color: red;
}

.modal-body {
  padding: 12px 30px;
}

.modal-content {
  width: 80%;
  height: 70vh;
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-body > .subtitle{
  font-size: 25px;
  color: var(--light-blue);
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 