:root {
  --main-color: #6698D8;
  --secondary-color: #DDE8F1;
  --dark-blue: #0071D4;
  --light-blue: #AECCE8;
}

body {
  padding: 50px;
  padding-top: 10px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--secondary-color);
}

.title{
  color: var(--dark-blue);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}
.footer-text{
  text-align: center;
  color: var(--secondary-color);
  font-size: 30px;
}


/* LOGIN / CREATE ACCOUNT FORMS */
.account-part{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40px;
}
.container-accounts{
  width: 40vw;
  height: 600px;
  transition: .5s ease-in-out;
  text-align: center;
  display: inline-block;
  transform-style: preserve-3d;
  background-color: white;
  backface-visibility: hidden;
}
.container-accounts:hover{
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 20px -15px black;
  transition: .8s ease-in-out;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

input{
  transition: .5s ease-in-out;
  border-width: 0;
  height: 40px;
  width: 500px;
  font-size: 15px;
  background-color: transparent;
  border-bottom: 3px solid white;
}
input:focus{
  border-bottom: 3px solid black;
}
.container-accounts:hover input{
  transition: .5s ease-in-out;
  background-color: transparent;
  border-bottom: 3px solid var(--dark-blue);
}
.container-accounts:hover input:focus{
  border-bottom: 3px solid black;
}

input[type=submit]{
  transition: .5s ease-in-out;
  border-width: 0;
  margin-top: 100px;
  width: 300px;
  height: 50px;
  background-color: white;
  font-size: 20px;
  display: none;
}
.container-accounts:hover input[type=submit]{
  transition: .5s ease-in-out;
  background-color: var(--dark-blue);
  color: white;
  display: initial;
}
.container-accounts:hover input[type=submit]:hover{
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 20px -11px black;
  background-color: black;
}


/* ROTATION */

.front-face {
  transition: all .9s ease-in-out;
  z-index: 100;
  width: 40vw;
  height: 600px;
  background-color: var(--light-blue);  
  box-shadow: 0px 0px 20px -15px black;
  position: absolute;
}
.front-face > h1{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: 20% auto;
  font-size: 70px;
}
.back-face {
  transform: rotateY(180deg);
}


